
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="order-success">
    <h2>Đặt Hàng Thành Công!</h2>
    <p>Cảm ơn bạn đã mua sắm tại cửa hàng của chúng tôi.</p>
    <a href="@Url.Action("Index", "Product")" class="btn">Tiếp tục mua sắm</a>
</div>
